*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
#logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    transform: translateY(-50%);
    color: white;
    position: absolute;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #ff375f;
}
.content p{
    font-size: 24px;
}
.content button{
   padding: 10px 25px;
   background: transparent;
   outline:none;
   border: 2px solid white;
   display: flex;
   align-items: center;
   margin-top: 30px;
   cursor: pointer;
   color: white;
   font-size: 20px;
}
.content button img{
   width: 20px;
   margin-left: 10px;
}
.lauch-time{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
}
.lauch-time p{
   font-size: 60px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }

}