*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh; /* Définit la hauteur minimale du body à 100% de la hauteur du viewport */
    background: #001e4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: bolder;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: bolder;
}
.answer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    background-color: white;
    color: #222;
    padding: 10px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
.next_btn{
    background-color: #001e4d;
    color: white;
    font-weight: bolder;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.Correct{
    background-color: #9aeabc;
}
.Incorrect{
    background-color: #ff9393;
}