*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: aqua; */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    background-color: hsl(204, 68%, 37%);
}
.wrapper{
    width: 420px;
    /* background: purple; */
    /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    backdrop-filter: blur(6px);                     /*quest est son utilite*/
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    color: #fff;
    font-size: 36px;
    text-align: center;
}
.wrapper .input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input_box input::placeholder{
    color: #fff;
}
.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}
.wrapper .remember_forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember_forget label input{
    accent-color: #242323;                           /*a quoi sert ceci*/
    margin-right: 3px;
}

.remember_forget a{
    color: #fff;
    text-decoration: none;
}
.remember_forget a:hover{
    text-decoration: underline;
}
/*.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}*/
.wrapper .btn :hover{
    background: rgba(83,73,73,0.5);
    color: white;
    border-color: #fff;
}
.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register_link p a:hover{
    text-decoration: underline;
}
.register_link{
    margin: 25px 0 25px 0;
    text-align: center;
    
}

.wrapper .btn {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.wrapper .btn {
    width: 100%;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: none;
    outline: none;
    border-radius: 40px;
    display: block;
}
.wrapper .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         