*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: cadetblue;
    width: 300px;
    height: 420px;
    padding: 20px;
    font-size: 20px;
    position: relative;
    border-radius: 10px;
}
form input{
    width: 300px;
    height: 30px;
}
input[type="submit"]{
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 10px; 
    right: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
}

#canvas1 , #canvas3 , #canvas4,#canvas5, #canvas6, #canvas7, #canvas8, #canvas9{
    /*background-color: rgb(152, 123, 6);*/
    border: 2px solid orange;
}
#canvas2{
    background-color: rgb(78, 19, 227);
    /* border: 2px solid orange; */
}
#image{
    display: none;
}
