*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    min-height: 100vh;   /* prend au moins toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #08080f, #303135);
}

.container{
    max-width: 900px;
    width: 850px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
} 
.container>img{
    width: 400px;
    height: 350px;
    border: 1px solid white;
    box-shadow: 0px 10px 20px rgba(255, 26, 26, 0.22);
}

.container button{
    border: none;
    outline: none;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    z-index: 1; 
    margin-left: 10px;
    margin-right: 10px;
}
.container button::after{
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.container button::before{
    content:"";
    background: linear-gradient(45deg,
    #FF0000 ,#FF7300,#FFFB00,#48ff00,
    #00FFD5,#002BFF,#FF00C8,#FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    overflow: hidden;
    transition: opacite 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    animation: glowing 20s linear infinite;
}
@keyframes glowing{
    0%{background-position: 0,0;}
    50%{background-position: 400%,0;}
    100%{background-position: 0,0;}

}
.container button:hover::after{
   opacity: 1;
   background: transparent;
   background-color:#000;
   font-weight: bold;
}
.container button:active:after{
  background: transparent;
}
.container button:active{
 background-color:#000;
 font-weight: bold;
}
 













/*.image{
   width: 200px;
   height: 200px;
   background-image:url(image/img1.jpg);
    background-repeat: no-repeat; /* repeat | repeat-x | repeat-y | no-repeat *
    background-position: center; /* top, bottom, left, right, center, ou x% y% *
    background-size: cover; /* contain | auto | cover | 100px 200px  Définit la taille de l’image*
    background-attachment: fixed; /* scroll | fixed | local   Détermine si le fond défile avec le contenu ou reste fixe *
}*/