*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liste{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.titre{
    display: flex;
    gap: 10px;
}
.titre img{
    width: 30px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    /* margin-bottom: 25px; */

}
.search input{
    border: 0;
    outline: 0;
    flex: 1;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ff5945;
    padding: 16px 50px;
    color: #fff;
    font-size: 18px;
    cursor:pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;     /*sert à empêcher l'utilisateur de sélectionner le texte sur un élément de la page web.*/
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';   /*content: '' : crée l’espace pour afficher l’élément ::before (même vide). obligatoire*/
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    content: '';
    background-image: url(image/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}

/*creation d'un tooltip, info box ou speech bubble*/
.message-box {
  background-color: #4aa3df; /* Couleur de fond de la boite */
  color: white; /* Couleur du texte */
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  width: max-content;
  position: absolute;
  top: 50px;
  visibility: hidden;
}
/* Le petit triangle */
.message-box::after {
  content: '';
  position: absolute;
  top: 100%; /* place le triangle juste en dessous de la boîte */
  left: 10px; /* ajustement horizontal */
  border-width: 10px; /* taille du triangle */
  border-style: solid;
  border-color: #4aa3df transparent transparent transparent; /* triangle vers le bas */
}