*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow:  6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);                                      ;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),  /*Quand on ajoute inset, l'ombre devient interne (a l'interieur de l'element).Elle donne un effet creuse, comme si l'element etait enfonce vers l'interieur.*/
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px  rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05); 
}

#number{
    font-weight: bolder;
    color: #555;
    font-size: 24px;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation:  anim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0
}
@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}