*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #191919;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s ;
    position: relative;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.imageGallery{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10% auto;
}

#btnnext ,#btnback{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.gallery div img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    cursor: pointer;
}
.gallery div img::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: red;
    z-index: -1;

}