*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop_area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 20px;
}
#img_view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background-color: #f7f8ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#img_view img{
    width: 100px;
    margin-top: 25px;
}
#img_view span{
   display: block;
   font-size: 12px;
   color: #777;
   margin-top: 15px;
}