*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 910px;
    display: flex;
}
.gallery{
    flex-basis: 47%;/*L’élément occupe 47% du conteneur comme taille de base.*/
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.gallery img{
    width: 100%;
    display: flex;
    padding-top: 10px;
}
.details{
    flex-basis: 53%;
    background: #fff;
    padding: 30px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    color: #777;
}
.details h1{
    color: #333;
    font-size:32px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.details h2{
    color: #333;
    font-size:30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
}
.details form{
    font-size: 15px;
    font-weight: 400;
}
.size_select,.color_select,.qte-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size_select p,.color_select p,.qte-select p{
    width: 70px;
}
.size_select input:checked + span{
    color: blue;
    font-weight: 700;
}
.size_select input{
    display: none;
}
.size_select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color_select{
    margin-top: 20px;
}
.color_select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color1{
    background-color: red;
}
.color2{
    background-color: green;
}
.color3{
    background-color: blue;
}
.color4{
    background-color: pink;
}

.color_select input{
    display: none;
}
.color_select input:checked +span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}
.qte-select{
    margin-top: 20px;
}
.qte-select input{
    background-color: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}
form button{
    background-color: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    box-shadow: 0 10px 10px  rgba(85, 63, 243, 0.25);
    cursor: pointer;
}

.controls{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    cursor: pointer;
}
.active{
    background-color: #553ff0;
}