*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg ,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 15px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px
}
.search input{
    border: none;
    outline: 0;
    background-color: #ebfffc;
    color:#555;
    height: 60px;
    font-size: 20px;
    padding:10px 25px;
    border-radius: 40px;
    margin:20px 0px;
    flex: 1;
}
.search button{
    border: none;
    outline: 0;
    background:#ebfffc;
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
   width: 16px;
}
.weather_icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    margin: 20px 0px 10px 0px;
    font-size: 60px;
}
.weather h2{
    margin-top: -10px;
    font-size: 40px;
    font-weight: 100;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.block{
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: left;
}
.block img{
    width: 40px;
}
.humid1,.wind1{
    font-size: 30px;
    margin-top: -6px;
}
