*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 50% 52.5%,  rgba(14,53,92,1) 0%, rgba(16,14,72,1) 90% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.input-box img{
   width: 30px;
   cursor: pointer;
}
.input-box input{
    width: 100%;
   outline: 0;
   border: none;
   font-size: 24px;
   color: #555;
}
/*La ligne 35 a 48  permet d'enlever la petite icone oeil qui apparait a la fin de saisir du champ passeword*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}
input[type="password"]::-webkit-password-toggle {
    display: none;
}