*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calander{
    width: 400px;
    height: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
}
.left, .right{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.right{
    background-color: #f4351e;
    color: white;
    width: 42%;
}
.left{
    width: 58%;
}
#date{
    font-size: 100px;
    line-height: 90px;
}