@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');  /*permet de telecharger en font family*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-box{
    background-color: white;
    width: 700px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
}
.quote-box h2{
   font-size: 35px;
   margin-bottom: 40px;
   position: relative;
}
.quote-box h2::after{
   content: '';
   width: 100px;
   height: 3px;
   border-radius: 3px;
   background: rgb(23,124,2298);
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
}
.quote-box blockquote{
   font-size: 26px;
   min-height: 110px;
}

.quote-box blockquote::before,.quote-box blockquote::after{
   content: '"';

}
.quote-box span{
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.boutton{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.boutton button{background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.boutton button{
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    display: block;
    outline: none;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.boutton button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.boutton button i{
    margin-right: 10px;
}
.boutton button:nth-child(2){
   background: transparent;
   color: #333;
   border: 2px solid #1FA2FF;
}



