*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: hsl(248, 46%, 34%);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.search-box{
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.search-box h2{
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}
form{
   width: 90%;
   max-width: 500px;
   margin: auto;
   height: 50px;
   background-color: hsl(231, 36%, 40%);
   display: flex;
   align-items: center;
   border-radius: 8px;
}
.search-box input{
    flex: 1;
    height: 100%;
    border: none;
    outline: 0;
    border-radius:8px;
    padding: 0 10px;
    font-size: 18px;
    background-color: hsl(231, 36%, 40%);
    color: white;
}
.search-box button{
    padding: 0 20px;
    height: 100%;
    border: none;
    outline: 0;
    border-radius:0 8px 8px 0;
    background-color: hsl(10, 100%, 57%);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.search-box button:hover{
    background-color: hsl(10, 100%, 47%);
}
input::placeholder{
    color: white;
}
.images_box{
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search_result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 40px;
}
#search_result img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
#search_result img:hover{
    transform: scale(1.05);
}
#show-more-btn{
    padding: 10px 20px;
    border: none;
    outline: 0;
    border-radius:8px;
    background-color: hsl(10, 100%, 57%);
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
